.city-picker-span{position: relative; display: block; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border-bottom: 1px solid #ccc; background-color: #fff; color: #ccc; cursor: pointer;}
.city-picker-span > .placeholder{color: #aaa;}
.city-picker-span > .arrow{position: absolute; top: 50%; right: 8px; width: 10px; margin-top: -3px; height: 5px; background: url(../images/drop-arrow.png) -10px -25px no-repeat;}
.city-picker-span.focus,
.city-picker-span.open{border-bottom-color: #46A4FF;}
.city-picker-span.open > .arrow{background-position: -10px -10px;}
.city-picker-span > .title > span{color: #333; padding: 5px; border-radius: 3px;}
.city-picker-span > .title > span:hover{background-color: #f1f8ff;}
.city-picker-dropdown{position: absolute; width: 315px; left: -9999px; top: -9999px; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 999999; display: none; min-width: 330px; margin-bottom: 20px;}
.city-select-wrap{margin:0 -10px; box-shadow: 0 0 32px rgba(0, 0, 0, 0.5); padding: 20px 25px; background:#fff;}
/* 省市选项tab */
.city-select-tab{height:60px; background: #EDEDED; border-bottom: 1px solid #ccc; font-size: 26px; color:#333; margin-bottom: 20px;}
.city-select-tab > a{display: inline-block; width:200px; height:60px; line-height:80px; color: #333; text-align: center; outline: 0; text-decoration: none; cursor: pointer; margin-right:20px;}
.city-select-tab > a.active{background: #fff; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #fff; color: #008580;}
.city-select-tab > a:last-child.active{border-right: 1px solid #ccc;}
/* 省市选项 */
.city-select-content{width:auto; height:475px; background-color: #fff; overflow:hidden;}
.city-select{font-size: 26px; width:102.5%;height:100%;overflow-x:hidden;overflow-y:auto;}
.city-select dl{line-height: 2; clear: both; padding: 3px 0; margin: 0;}
.city-select dt{clear:both; height:50px; line-height:50px; margin-top:-20px; font-size:20px; font-weight:bold; color:#9A9A9A;}
.city-select dd{clear:both;}
.city-select a{display:inline-block; float:left; width: 200px; height: 60px; background: #EDEDED; margin:0 20px 20px 0; line-height: 60px; color: #333; font-size: 26px; text-align: center; cursor: pointer; white-space: nowrap;}
.city-select a:nth-child(4n){margin-right:0;}
/*.city-select a:hover, .city-select a:focus{color: #fff; background:#008580;}*/
.city-select a.active{color:#fff; background: #008580 url(../img/common/checked.png) 12px 18px no-repeat;}
.addressAlert{position:relative;}
.city-picker-span{display:none;}
.city-picker-dropdown{z-index:300;box-sizing:border-box;width:192% !important; margin-top:20px;}
/* 遮罩层 */
.layerMask{position:fixed; top:0; left:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.2;}
.icon-arrow{width:0; height:0; border-width:17px 13px; border-style:solid; border-color:transparent transparent #fff transparent; position:absolute; top:-33px; left:30%; margin-left:-13px;}
.showTop{position:relative; z-index: 3000;}