/*setPassword*/
.setPassword{ margin:146px auto 0; width:910px; height:500px;border-radius:8px; background:#fff; position: relative;}
.setPassword .setPassword-img{position: absolute; top:-114px; left: 50%; margin-left: -170px; width:340px; height:240px;}
.setPassword .phone-img{position: absolute; top:-96px; left: 50%; margin-left: -130px; width:260px; height:220px;}
.setPassword .setP-ico1{ background:url("../img/enterPassword/set.png") no-repeat 50% 0;}
.setPassword .setP-ico2{ background:url("../img/enterPassword/setAgain.png") no-repeat 50% 0;}
.setPassword .setP-phonebank1{ background:url("../img/phoneBank/phone-close.png") no-repeat;}
.setPassword .setP-phonebank2{ background:url("../img/phoneBank/phone-open.png") no-repeat;}
.setPassword .title-one { padding-top: 176px;border: solid 1px;border-bottom: none;text-align: center;}
.setPassword .title-one h2{padding:0 26px; font-size:32px;}
.setPassword .title-two{font-size:20px;background-color:#fff}
.setPassword .title-two p{padding:111px 152px;padding-top:0px;border:solid 1px;border-top:none;}
.setPassword .box{padding:30px 0 60px;text-align: center;border-left: solid 1px;border-right: solid 1px;}
.setPassword .text{ display: inline-block; margin-left:34px; width:60px;height:60px;border:1px solid #929292;background-color:#ededed;}
.setPassword .text:first-chlid{ margin-left:0!important;}
.setPassword .point{background:#ededed url(../img/enterPassword/password.png) center no-repeat;}


/*takeCardBefore*/
.takeCardBefore{ margin:200px auto 0; width:780px; height:590px;border-radius:8px; background:#fff; position: relative;}
.takeCardBefore .takeCard-img{position: absolute; top:-114px; left: 50%; margin-left: -170px; width:340px; height:240px;background:url("../../images/app/takeCard/takeCard.png") no-repeat;}
.takeCardBefore .title-one { padding-top: 160px;}
.takeCardBefore .title-one h2{ padding:0 26px; color: #333; font-size:30px; text-align: center;}
.takeCardBefore .title-two h2{padding:0 26px; color: #959595; font-size:26px; text-align: center;}
.takeCardBefore .line{ margin: 22px auto; width: 640px; height: 2px; box-shadow: 0 2px 2px #ccc; background: #101010;}

.takeCardBefore .serverList{ padding-top:50px; text-align: center;}
.takeCardBefore .serverList li{ display: inline-block; margin-left: 44px; width: 84px; text-align: center;}
.takeCardBefore .serverList i{display: inline-block; width: 48px; height: 48px;}
.takeCardBefore .serverList p{color: #959595; font-size:22px;}
.takeCardBefore .serverList .mobile{background:url("../img/takeCard/mobile.png") center no-repeat;}
.takeCardBefore .serverList .internet{background:url("../img/takeCard/internet.png") center no-repeat;}
.takeCardBefore .serverList .phone{background:url("../img/takeCard/phone.png") center no-repeat;}
.takeCardBefore .serverList .wechat{background:url("../img/takeCard/wechat.png") center no-repeat;}

