/*faceToface*/
.faceToface .teller-img{padding-top: 178px;width: 100%; height: 645px; text-align: center; box-sizing:border-box;}
.faceToface .marked-words{ width: 100%; text-align: center;color: #d7d8d6; padding-top: 20px;}
.faceToface .marked-words .big-one{ font-size: 36px; line-height: 54px; }
.faceToface .marked-words .big-two{ padding-top:50px; font-size: 26px;}
