<div class="form-condition">
	<h2 class="form-header">
		<span></span><label>{Register}</label>
	</h2>
	<div class="setPassword">
		<div class="setPassword-img setP-ico2">
			<div class="phone-img setP-phonebank2"></div>
		</div>
		<div class="title-one">
			<h2 class="tc">{Please}</h2>
		</div>
		<div class="box">
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
		</div>
		<div class="title-two">
			<p>{Reminder}</p>
		</div>
		<div class="warning-label">
			<p>{warning-label}</p>
		</div>
		<input type="hidden" id="phonebankagain" autofocus="autofocus"
			maxlength="6" />
	</div>
</div>
<!-- 
<a class="btns next disabled" id="phoneBankNumberAgain-next">
    <span>{continue}</span>
    <i></i> 
</a>
 -->
