<div class="form-condition rateExperience">
	<div class="rateExperience-card"></div>
	<div class="content-title">
		<h2>{Thank}</h2>
	</div>
	<div class="rateExperiencebg">
		<h4>{Please}</h4>
		<div class="wrapper">
			<ul class="star remote-experience">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>			
		</div>
		<h4>{rate}</h4>
		<div class="wrapper">
			<ul class="star overall-experience">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>			
		</div>
	</div>
</div>

 <a class="btns next" id="rate-confirm">
	<span>{Confirm}</span>
	<i></i>
</a>

