<div class="form-condition">
<h2 class="form-header">
    <span></span><label>{enter}</label>
</h2>
<div class="fingerprint-collection">
    <img src="./img/fingerprintCollection/fingerprintCollection.jpg" id="fingerprintCollection"/>
</div>
<div class="fingerpring-title">
    <h2 class="take-paper">{please}</h2>
</div>

</div>

                <a class="btns next" id="fingerprintCollection-next">
                    <span>{Confirm}</span>
                    <i></i>
                </a>
                <!--<div class="main-righter">-->
                    <!--<a class="btns exit" id="js-exit">-->
                        <!--<span>{exit}</span>-->
                        <!--<i></i>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
            <div class="kindly-modal"></div>
