<div class="home">
	<div class="home-header">
		<div class="fl home-logo">
			<a class="{logo}"></a>
		</div>
		<div class="fr homo-topnav">
			<div id="js-switch-language" class="fl btn zh">
				<i class="switch"></i>
				<span class="{switch-to}">{switch}{language}</span>
			</div>
		</div>
	</div>
	<div class="clearfix card-box">
		<div class="bank-card"></div>
	</div>
	<div class="clearfix match-box">
		<div class="match-condition">
			<div class="title">{title}</div>
			<ul>
				<li calss="{itemLang}">
					<i class="card-ico"></i><div>{card-icon}</div>
				</li>
				<li calss="{itemLang}">
					<i class="citizenship-ico"></i><div>{citizenship-ico}</div>
				</li>
				<li>
					<i class="resident-ico"></i><div>{resident-ico}</div>
				</li>
				<li class="itemfour {itemLang}">
					<i class="address-ico"></i><div class="{addressSpan}">{address-ico}</div>
				</li>
			</ul>
		</div>
	</div>
	<a class="open-account-btn" id="open-account-btn" >{opennewacct}</a>
</div>