<div class="form-condition">
    <div class="cancel-img-d">
        <img class="cancel-img1" src="./img/transactionCancel/u2237.png"/>
        <img class="cancel-img2" src="./img/transactionCancel/u2239.png"/>
        <img class="cancel-img3" src="./img/transactionCancel/u2241.png"/>
    </div>
    <div class="transactionCancel-container">
        <h2 class="take-paper">{cancelTitle}</h2>
        <p class="reminder">{cancelContent} <br>{cancelFooter} </p>
    </div>

    <div class="top-remote top-timeout transaction-timeout" id="top-timeout-transaction">
        <h2 id="top-timeout-timer-transaction">20</h2>
        <p>{20sec}</p>
    </div>
</div>
<a class="btns exit only-exit" id="js-exit-cancel">
    <span>{backToHome}</span>
    <i></i>
</a>