<div class="view-login">
    <h2>VTM Logon</h2>
    <div class="login-form">
        <ul>
            <li>
                <em class="icon icon-in-branch"></em>
                <input type="text" class="text" name="username" value="8001" id="username" />
            </li>
            <li>
                <em class="icon icon-security-lock"></em>
                <input type="password" class="text" name="password" value="(预留参数)" id="password" autocomplete="off" />
            </li>
            <li class="btnPosition">
                <input type="button" class="btn js-click" id="js-login" value="Logon" />
            </li>
        </ul>
    </div>
</div>
