<div class="form-condition">
	<h2 class="form-header">
		<span></span><label>{enter}</label>
	</h2>
	<div class="setPassword">
		<div class="setPassword-img setP-ico1"></div>
		<div class="title-one">
			<h2>{use}</h2>
		</div>
		<div class="box">
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
		</div>
		<div class="title-two">
			<p>{Reminder}</p>
		</div>
		<input type="hidden" id="set-pin" autofocus="autofocus" maxlength="6" />
	</div>
</div>

<!--<a class="btns next" data-setpin="false" id="enterPassword-next">
  	<span>{continue}</span>
  	<i></i>
</a>-->
