<div class="form-condition animation-bgc">
	<div class="connecting">
		<video style="visibility:hidden"  src="./video/connect_teller.mp4" loop="loop" width="auto" height="100%"></video>
	</div>
	<div class="scanId-title">
		<h2 class="take-paper">{Connecting}</h2>
		<p class="reminder">{protect} <br>{headphone}</p>
		<p class="reminder">{Reminder}</p>
	</div>
</div>
 <!--<a class="btns next" id="forceConnectingTeller-next">-->
	<!--<i></i>-->
	<!--<span>Continue</span>-->
<!--</a>-->

<!-- <a class="btns exit only-exit" id="js-cancel1">
 	<span>{Cancel}</span>
 	<i></i> 
</a> -->