<div class="form-condition">
	<h2 class="form-header">
		<span></span><label>{Register}</label>
	</h2>
	<div class="setPassword">
		<div class="setPassword-img setP-ico3">
			<div class="phone-img setP-phonebank1"></div>
		</div>

		<div class="title-one">
			<h2>{keypad}</h2>
		</div>
		<div class="box">
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
			<div class="text"></div>
		</div>
		<div class="title-two">
			<p>{Reminder}</p>
		</div>
		<div class="warning-label">
			<p>{warning-label}</p>
		</div>
		<input type="hidden" id="set-phonebank" autofocus="autofocus" maxlength="6" />
	</div>
</div>
<!-- 
<a class="btns next disabled" data-phonebank="false" id="phoneBankNumber-next">
 	<span>{Continue}</span>
 	<i></i> 
</a>
 -->
