<div class="form-condition animation-bgc">
	<div class="selectCardType">
		<div class="card-type">
			<div cardType="hkPassport">
				<img alt="hk Passport" src="./img/selectCardType/HKpassport.jpg">
				<a>{HKPassport}</a>
			</div>
			<div cardType="hkIdCard">
				<img alt="hk Id Card" src="./img/selectCardType/HKIDCard.jpg">
				<a>{HKIdCard}</a>
			</div>
			<div cardType="NonHK">
				<img alt="NonHK passport" src="./img/selectCardType/NonHKPassport.jpg">
				<a>{Non-hkPassport}</a>
			</div>
		</div>
	</div>
	<div class="scanId-title">
		<h2 class="take-paper">{please}</h2>
		<!-- <p class="reminder">{reminder}{contact}</p> -->
	</div>
	<!--<a class="btns next" id="selectCardType-next">-->
		<!--<span>{next}</span>-->
		<!--<i></i> -->
	<!--</a>-->
</div>
<a class="btns next disabled" id="selectCardType-next"> <span>{next}</span>
	<i></i>
</a>