<div class="form-condition">
	<h2 class="form-header">
		<span></span><label>{takeCard}</label>
	</h2>
	<div class="takeCardBefore">
		<div class="takeCard-img"></div>
		<div class="title-one">
			<h2>{title-one-1}{title-one-2}</h2>
			<!--<h2>{title-one-2}</h2>-->
		</div>

		<div class="line"></div>
		<div class="title-two">
			<h2>{title-two-1} {title-two-2}</h2>
			<!--<h2>{title-two-2}</h2>-->
		</div>

		<div class="serverList">
			<ul>
				<li><i class="mobile"></i>
				<p>{mobile}</p></li>
				<li><i class="internet"></i>
				<p>{internet}</p></li>
				<li><i class="phone"></i>
				<p>{phone}</p></li>
				<!--<li><i class="wechat"></i>-->
				<!--<p>{wechat}</p></li>-->
			</ul>
		</div>
	</div>
</div>
<a class="btns next" id="takeCardBefore-next">
   <span>{continue}</span>
   <i></i> 
</a>

