<div class="form-condition" id='tokenDemandContainer'>
	<h2 class="form-header">
		<span></span><label>{title}</label>
	</h2>
	<div id='contentContainer'>
		<div id='topTip'>{tipOnTop}</div>
		<div id='imgContainer'><img src='./img/tokenDemandChoice/token.png'></div>
		<hr id='bottomLine'/>
		<div id='bottomTip'>{tipOnBottom}</div>
	</div>
	<div class="warning">
		<p>{warning}</p>
	</div>
</div>
<a class="btns token-choice" id="tokenDemandChoice-yes"> <span>{need}</span></a>
<a class="btns token-choice" id="tokenDemandChoice-no"> <span>{notNeed}</span></a>
<!-- 图的长度是334 -->