<div class="main-inner">

    <div class="form-condition QR">
        <!--<h2 class="form-header mobile-header">
            <span></span><label>{Mobile}</label>
        </h2>-->

        <h2 class="QR-title">{TakeMobile}</h2>

        <div class="QR-app">
            <div class="app-img">
                <img src="img/mobileBanking/android.png" style="height:130px;"/>
                <!--<p>{IOS}</p>-->
            </div>
            <div class="app-img ml212">
                <img src="img/mobileBanking/ios.jpg"/>
                <!--<p>{Android}</p>-->
            </div>
        </div>
        <div class="QR-footer">
            <p>{please}</p>
            <a>{address}</a>
        </div>
    </div>
    <div class="img">
        <div class="img-title">
            <span>{Take}</span>
        </div>
    </div>
</div>
<a class="btns next" id="mobileBanking-next">
    <span>{Continue}</span>
    <i></i>
</a>
